node_modules/
elm-stuff/
dist/
.cache/
.scratch/
generator/src/Main.js
elm-pages-*.tgz
coverage
.netlify
tests/VerifyExamples/
cypress/videos
cypress/screenshots
.idea
generated/
.elm-pages

elm-review-report.gz.json
examples/docs/functions
docs.json

examples/end-to-end/db/schema-history/
test-scripts/db/schema-history/
**/tests/viewer.html
**/tests/viewer-preview.html
**/tests/viewer.js
tests/viewer-app/elm-stuff/
.tmp-tui-widgets-tests*/

# elm-wrap artifacts
artifacts.x.dat
