node_modules/
elm-stuff/
dist/
.cache/
generator/src/Main.js
elm-pages-*.tgz
coverage
.netlify
tests/VerifyExamples/
cypress/videos
cypress/screenshots
.idea
generated/
.elm-pages

elm-review-report.gz.json
examples/docs/functions
docs.json

examples/end-to-end/db/schema-history/
test-scripts/db/schema-history/

# elm-wrap artifacts
artifacts.x.dat
