# This points NPM to the GitHub package server for packages under the @incrementalelm namespace
# Be sure that the NPM_TOKEN environment variable is set in your local dev environment and CI environment when running npm install
#
# Set the NPM_TOKEN to a personal access token from github.com
# The auth token must have the scope "read:packages"
# Create your auth token with these instructions
# https://docs.github.com/en/free-pro-team@latest/github/authenticating-to-github/creating-a-personal-access-token
registry=https://registry.npmjs.org/
@incrementalelm:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=${NPM_TOKEN}

