[build]
  base = "examples/docs/"
  functions = "functions/"
  publish = "dist/"
  command = "curl https://static.lamdera.com/bin/linux/lamdera -o /usr/local/bin/lamdera && chmod a+x /usr/local/bin/lamdera && export ELM_HOME=\"$NETLIFY_BUILD_BASE/cache/elm\" && (cd ../../ && npm install --no-optional && npx --no-install elm-tooling install) && npm install --no-optional && npm run build && cp ./elm-stuff/elm-pages/elm.js functions/render/elm-pages-cli.js && (cd functions/process-url && npm i)"

[[redirects]]
  from = "/screenshot/*"
  to = "/.netlify/functions/screenshot"
  status = 200

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/render"
  status = 200
  # force = true

[dev]
  command = "npm start"
  targetPort = 1234
  autoLaunch = true
  framework = "#custom"